<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="balanceStyles.css">
    <script>
        function fetchBalance(){
            fetch('/balancing')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('balanceDataLocation').innerText = data.data;
                });
    
        }
    </script>    
</head>
<body>
    <h1>Balancing Activity</h1>
    <form action="/button" method="post">
        <button type="submit">Play</button>
    </form>
    <div id="balanceDataLocation"> 
        <p>
            Time Balanced
        </p>
    </div>
</body>

</html>